.assignment-wrapper {
    border: 2px dashed lightgray;
    padding: 2em;
    border-radius: 1em;
    margin-top: 2em;
}

.assignment-wrapper-title {
    margin-top: -2em !important;
    margin-bottom: 1em !important;
    background-color: white !important;
    width: min-content !important;
    white-space: nowrap !important;
}

.comment-bubble {
    background: #cccccc;
    border-radius: 1em;
    padding: 1em;
    margin: 1em 0em;
}